@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    background: none;
    font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

:root {
    --primaryColor: rgb(37, 47, 63);
    --secondaryColor: rgb(27, 33, 44);
    --primaryColorAlt: rgb(36, 48, 63);
    --secondaryColorAlt: rgb(72, 105, 147);
    --white: rgb(180, 192, 209);
}

body {
    background: var(--primaryColor);
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--secondaryColorAlt) var(--primaryColor);;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--primaryColor);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondaryColorAlt);
    border-radius: 10px;
}

.lds-spinner {
    color: var(--secondaryColorAlt);
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--secondaryColorAlt);
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dropdown {
    @apply z-20 relative inline-block;
}

.dropdown-button {
    @apply flex items-center lg:justify-center lg:w-full;
}

.dropdown-content {
    @apply transition-all invisible opacity-0 translate-y-0 group-focus-within:translate-y-3 group-focus-within:visible group-focus-within:opacity-100 duration-200 flex flex-col shadow-lg bottom-[100%] sm:bottom-[200%] transform overflow-hidden md:left-[0px] left-[25px] absolute bg-white min-w-[200px] z-10 rounded-lg;
}

.dropdown-icon {
    @apply transform rotate-0  group-focus-within:rotate-180 transition ease-linear duration-75;
}

.dropdown-content a,
.dropdown-content button,
.dropdown-content p {
    @apply px-4 py-3 pl-6 hover:bg-gray-100 cursor-pointer whitespace-nowrap;
}
